@media screen and (min-width: 1300px) {
  #tab1 {
    position: fixed;
    left: 3%;
  }
  .tab {
    position: fixed;
    z-index: 1000;
    top: 5%;
    left: 15%;
    width: 50px;
    height: 50px;
    margin-left: -35px;
    margin-top: -35px;
    cursor: pointer;
  }
  .tab .bars {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
  }
  .tab .bars span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 26px;
    height: 3px;
    margin-left: -13px;
    margin-top: -1px;
    background-color: #8dc1ca;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .tab .bars span:first-child {
    margin-top: -7px;
  }
  .tab .bars span:nth-child(2) {
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s;
  }
  .tab .bars span:last-child {
    margin-top: 5px;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  .tab:hover .bars span {
    width: 30px;
    margin-left: -15px;
  }
  .tab.active .bars span {
    width: 0;
    margin-left: -15px;
  }
  .tab.active .bars span:first-child {
    margin-top: 0px;
    width: 30px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .tab.active .bars span:last-child {
    margin-top: 0px;
    width: 30px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  .tag-container,
  #post-container {
    min-height: 100vh;
  }
  body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: inset 0 0 6px transparent;
  }
  body::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  }
  body::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  }
  body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
  }
  body {
    overflow-x: hidden;
  }
  .side {
    position: fixed;
    width: 25%;
    z-index: 1000;
    justify-content: center;
  }
  #main {
    left: 25%;
    justify-content: center;
    text-align: center;
    width: 60%;
  }
  #content {
    width: 100%;
    position: relative;
  }
  #bg {
    width: 100%;
    /*宽度铺满屏幕*/
    min-height: 100vh;
    padding-top: 52.734%;
    /*图片高度除以宽度，得到此值*/
    background: url("") center center;
    /*两个center分别为水平和垂直方向的对齐方式*/
    background-size: 100%;
    /*背景水平铺满*/
    filter: blur(10px);
    /*虚化值，越大越模糊*/
    position: fixed;
  }
  .nav-large {
    display: block;
    position: absolute;
    /*设置内容层绝对定位*/
    width: 100%;
    text-align: center;
    z-index: 2;
    /*将内容至于上层*/
  }
  .nav-small {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  #landlord {
    display: none;
  }
  .nav-large {
    display: none;
  }
  .nav-small {
    display: block;
  }
  .pagination-container {
    margin-top: 30px;
    display: flex;
  }
  .pagination-container a {
    width: 50%;
    border: solid grey;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20%;
    background: #4AC29A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
  }
  .pagination-container .mobile-nextpage {
    border-radius: 0 5px 5px 0;
  }
  .pagination-container .mobile-prevpage {
    border-radius: 5 0px 0px 5px;
  }
  .tag {
    width: 40%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  /*???? ????0*/
  40% {
    opacity: 0;
  }
  /*???? ????0*/
  100% {
    opacity: 1;
  }
  /*???? ????1*/
}
@-webkit-keyframes fade-in {
  /*??webkit??*/
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#side {
  height: 100vh;
  animation: fade-in;
  /*????*/
  animation-duration: 1s;
  /*??????*/
  -webkit-animation: fade-in 1s;
  /*??webkit??*/
}
.describtion {
  margin-top: 3%;
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight: lighter;
}
.sitename {
  margin-top: 3%;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  color: antiquewhite;
  font-family: Arial, Verdana, "宋体";
}
.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  /*该动画只执行一次*/
  -webkit-transform: rotate(0deg);
  /*i图标旋转*/
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  /*transform进行动画，动画用时1秒钟*/
  transition: -webkit-transform 0.9s ease-in-out;
}
.avatar-border {
  margin: 0 auto;
  margin-top: 15%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 0 30px #a67c40;
}
.avatar:hover {
  /*该动画只执行一次*/
  -webkit-transform: rotate(360deg);
  /*鼠标hover时，i图标旋转*/
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  /*transform进行动画，动画用时1秒钟*/
  transition: -webkit-transform 0.9s ease-in-out;
}
.share-button {
  margin: 0 auto;
  margin-top: 5%;
  width: 250px;
  height: 35px;
  background: #dfe6e9;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}
.share-button span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  border: solid;
  border: #000;
  color: #f1f1f1;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
  font-weight: lighter;
  transition: 0.6s linear;
  border-radius: 5px;
  z-index: 2;
}
.share-button i {
  text-align: center;
}
.share-button:hover span {
  transform: translateX(-100%);
  transition-delay: 0.3s;
}
.share-button a {
  flex: 1;
  font-size: 26px;
  color: #2d3436;
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s linear;
  z-index: 1;
}
.share-button:hover a {
  opacity: 1;
  transform: translateX(0);
}
.mchocie {
  margin-top: 5%;
  text-align: center;
  font-size: 16px;
  color: #495057;
  font-weight: bold;
  height: 4%;
}
hr {
  margin-top: 5%;
  margin-bottom: 2%;
  width: 200px;
}
.menubutton {
  font-size: 1.1em;
  font-family: kaiti;
  color: antiquewhite;
}
.menubutton:hover {
  font-size: 1.2em;
  color: white;
}
#footinfo {
  color: white;
  font-family: Arial, Verdana, "宋体";
  font-weight: lighter;
  text-align: center;
}
#footinfo a {
  color: white;
  font-family: Arial, Verdana, "宋体";
}
#sitegotimeDate,
#sitegotimes {
  margin-top: 2%;
  color: white;
  font-weight: lighter;
  font-size: 12px;
  display: inline;
  float: center;
}
.icon {
  width: 18px;
}
.search {
  margin: 0 auto;
  width: 200px;
  display: flex;
  cursor: pointer;
  margin-top: 5%;
  position: relative;
  height: 30px;
  text-align: right;
  line-height: 30px;
}
.search button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 33px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.search button:before {
  content: "🔍";
  font-size: 15px;
  color: #F9F0DA;
}
.search input {
  width: 100%;
  height: 33px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 10px;
  outline: none;
  font-size: 12px;
  background: white;
  color: #9E9C9C;
  opacity: 0.6;
}
.search input:hover {
  opacity: 1;
}
.search input:focus {
  opacity: 1;
}
.search .search-results {
  display: block;
  z-index: 1000;
  position: absolute;
  top: 30px;
  width: 200px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  border-radius: 5px;
  background: #ccc;
  box-shadow: 0 0.3rem 0.5rem #333;
}
.search .search-results::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}
.search .search-results::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.01);
  -webkit-box-shadow: inset 0 0 6px transparent;
}
.search .search-results::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
.search .search-results::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
.search .search-results::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.search .search-results::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.search .search-results::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.4);
}
.search .search-results .result-item {
  background: white;
  color: #000;
  font-family: "Microsoft JhengHei", miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, Sans-Serif;
  font-weight: lighter;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
}
#vistornum {
  margin-top: 1%;
  color: white;
}
#busuanzi_value_site_uv {
  color: lightgreen;
}
@media screen and (max-width: 1300px) {
  .avatar-border {
    position: absolute;
    /* margin-bottom: 10%; */
    top: 30%;
    width: 120px;
    height: 120px;
    margin-top: 0;
  }
  .avatar {
    width: 120px;
    height: 120px;
  }
}
.menutopavatar {
  margin-left: 30px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.social {
  width: 25px;
  margin-top: 10px;
  margin-left: 10px;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
#socialMenu .socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F8F8FF;
  border-radius: 15px;
  margin-left: 35%;
  width: 30%;
  height: 5vh;
  margin-top: 35vh;
}
#socialMenu .socialContainer .icon {
  width: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.pagi {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  width: 100%;
  padding-left: 30%;
  padding-right: 30%;
}
.pagi ul {
  margin: 50px 0 0 0;
  position: relative;
  left: 0%;
  display: flex;
  padding: 0;
  z-index: 3;
}
.pagi ul li {
  list-style: none;
  font-family: sans-serif;
}
.pagi ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  background: #353535;
  color: #565656;
  text-decoration: none;
  margin: 5px;
  border-radius: 4px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
}
.pagi ul li a.active,
.pagi ul li a:hover {
  color: #fff;
  text-shadow: 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  /*初始状态 透明度为0*/
  40% {
    opacity: 0;
  }
  /*过渡状态 透明度为0*/
  100% {
    opacity: 1;
  }
  /*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {
  /*针对webkit内核*/
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#post-container {
  animation: fade-in;
  /*动画名称*/
  animation-duration: 1s;
  /*动画持续时间*/
  -webkit-animation: fade-in 1s;
  /*针对webkit内核*/
}
#post {
  position: relative;
}
.postshow {
  padding: 0px 0 80px 0;
  position: relative;
  z-index: 1;
}
.posttitlebox {
  position: absolute;
  z-index: 2;
  bottom: 17px;
  width: 100%;
}
.posttitle {
  font-size: 2em;
  color: #f7f7f7;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
  position: relative;
  padding-left: 2%;
  float: left;
  cursor: pointer;
}
.posttitlewithoutimg {
  font-size: 2em;
  color: #f7f7f7;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
  position: relative;
  padding-left: 2%;
  float: left;
  cursor: pointer;
}
.postimage {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  /*考虑浏览器兼容性*/
  -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.postdate {
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  background: #ff4e6a;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  display: inline;
  float: left;
}
.poststatus {
  margin-left: 10px;
  background: #ffaa73;
}
.posttag {
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 10px;
  left: 0;
  display: inline;
  float: left;
}
.postlink {
  margin-left: 5px;
  border: solid;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #3cdc82;
}
.postlink:hover {
  text-decoration: none;
  color: #3cdc82;
}
.postinfo {
  margin-left: 0;
}
.postdate i {
  padding-right: 10px;
}
a:hover {
  text-decoration: none;
}
@media screen and (max-width: 1300px) {
  #post {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .posttitlewithoutimg,
  .posttitle {
    font-size: 3em;
    padding: 0;
    font-weight: bold;
  }
  .posttitlebox {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
    bottom: inherit;
    width: 100%;
  }
  .posttag {
    display: none;
  }
  #post-container {
    background: white;
    margin-top: 50px;
  }
  .postshow {
    padding: 0px 20px 80px 20px;
  }
  .postimage {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .posttitlewithoutimg,
  .posttitle {
    font-size: 2.5em;
    padding: 0;
    font-weight: bold;
  }
}
@media screen and (max-width: 760px) {
  .posttitlewithoutimg,
  .posttitle {
    font-size: 1.2em;
    padding: 0;
    font-weight: bold;
  }
}
.toc-container {
  position: fixed;
  width: 20%;
  z-index: 101;
  right: 2%;
  top: 10%;
  text-align: left;
}
.toc-container li {
  position: sticky;
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 15px;
}
.markdownIt-TOC li a {
  color: antiquewhite;
  display: block;
  transition: all 0.3s;
  font-size: 13px;
  font-weight: lighter;
}
.markdownIt-TOC li a:hover {
  text-decoration: underline;
}
.markdownIt-TOC li a.current {
  color: white;
  border: solid;
  border-radius: 5px;
}
.text {
  padding: 20px;
}
.markdownIt-TOC li ul {
  padding-left: 0%;
}
code,
span {
  font-size: 13px;
}
h6,
.text,
pre,
a,
div {
  font-size: 15px;
}
.text {
  line-height: 1.8;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 15px;
}
code {
  overflow: scroll;
}
.vcomments {
  z-index: 102;
}
pre code {
  font-size: 13px;
  white-space: inherit;
}
@media screen and (min-width: 1300px) {
  .commentcontainer {
    padding: 30px;
  }
  .copybt {
    position: absolute;
    width: 10%;
    right: 7%;
    color: white;
    /*字体颜色*/
    background-color: cornflowerblue;
    /*按钮背景颜色*/
    border-radius: 3px;
    /*让按钮变得圆滑一点*/
    border-width: 0;
    /*消去按钮丑的边框*/
    margin: 0;
    outline: none;
    /*取消轮廓*/
    font-family: "Microsoft JhengHei", miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, Sans-Serif;
    text-align: center;
    /*字体居中*/
    cursor: pointer;
  }
  .toggleContainer {
    position: fixed;
    right: 16%;
    bottom: 12%;
    z-index: 100;
    display: none;
    cursor: pointer;
  }
  .toggle {
    background: black;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
  }
  .toggle i {
    font-size: 25px;
    color: white;
  }
}
@media screen and (max-width: 1300px) {
  .commentcontainer {
    width: 90%;
  }
  .copybt {
    position: absolute;
    width: 15%;
    right: 15%;
    color: white;
    /*字体颜色*/
    background-color: cornflowerblue;
    /*按钮背景颜色*/
    border-radius: 3px;
    /*让按钮变得圆滑一点*/
    border-width: 0;
    /*消去按钮丑的边框*/
    margin: 0;
    outline: none;
    /*取消轮廓*/
    font-family: "Microsoft JhengHei", miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, Sans-Serif;
    text-align: center;
    /*字体居中*/
    cursor: pointer;
  }
}
/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: #ccc;
  vertical-align: top;
  padding-right: 5px;
  /* your custom style here */
}
/* for block of code */
.hljs-ln-code {
  padding-left: 30px;
}
.tvcontainer {
  position: relative;
  padding: 30% 45%;
}
.tv {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.music {
  width: 100%;
  height: 110;
  border: 0;
  margin: 0;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  /*初始状态 透明度为0*/
  40% {
    opacity: 0;
  }
  /*过渡状态 透明度为0*/
  100% {
    opacity: 1;
  }
  /*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {
  /*针对webkit内核*/
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.archives-year {
  padding-top: 5%;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  padding-left: 5%;
}
.archives-content {
  background: white;
  min-height: 100vh;
  animation: fade-in;
  /*动画名称*/
  animation-duration: 1s;
  /*动画持续时间*/
  -webkit-animation: fade-in 1s;
  /*针对webkit内核*/
}
.archives-content ul {
  margin: 0;
  margin-top: 2%;
  list-style: none;
  position: relative;
  color: #fff;
  font-size: 13px;
}
@media screen and (min-width: 1300px) {
  .archives-content ul {
    padding: 1px 100px;
  }
}
.archives-content ul li {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 80%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.archives-content ul li:not(:first-child) {
  margin-top: 60px;
}
.archives-content ul li > span {
  width: 2px;
  height: 100%;
  background: #ff4e6a;
  opacity: 0.8;
  left: -30px;
  top: 0;
  position: absolute;
}
.archives-content ul li > span:before,
.archives-content ul li > span:after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #ff4e6a;
  left: -5px;
  top: 0;
}
.archives-content ul li span:after {
  top: 100%;
}
.archives-content ul li > div {
  margin-left: 10px;
}
.archives-content div .title,
.archives-content div .type {
  font-weight: 600;
  font-size: 12px;
}
.archives-content div > div {
  margin-top: 5px;
}
.archives-title {
  color: black;
  text-align: left;
  font-weight: 300;
  font-size: 1.5em;
}
.archives-time {
  padding-top: 3%;
  text-align: left;
  font-weight: lighter;
  color: #ced4da;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  /*��ʼ״̬ ͸����Ϊ0*/
  40% {
    opacity: 0;
  }
  /*����״̬ ͸����Ϊ0*/
  100% {
    opacity: 1;
  }
  /*����״̬ ͸����Ϊ1*/
}
@-webkit-keyframes fade-in {
  /*���webkit�ں�*/
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.allcontent {
  background: white;
  height: auto;
  min-height: 100vh;
  justify-content: left;
  text-align: left;
  animation: fade-in;
  /*��������*/
  animation-duration: 1s;
  /*��������ʱ��*/
  -webkit-animation: fade-in 1s;
  /*���webkit�ں�*/
}
.postinfo-detail {
  margin-left: 0;
}
.text {
  padding-top: 60px;
  padding-bottom: 50px;
  z-index: 5;
}
.text img {
  width: 100%;
}
.prev-post {
  display: inline;
  background: white;
  float: left;
  font-size: 1.4em;
  color: black;
}
.next-post {
  display: inline;
  background: white;
  float: right;
  font-size: 1.4em;
  color: black;
}
.prev-post a,
.next-post a {
  color: black;
  font-family: "Microsoft JhengHei", miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, Sans-Serif;
  font-weight: lighter;
  padding: 2px;
  font-size: 16px;
}
.prev-post a:hover,
.next-post a:hover {
  text-decoration: none;
  color: black;
}
#texttitle {
  padding-top: 50px;
}
.readercount {
  opacity: 0.7;
  font-weight: lighter;
}
@media screen and (min-width: 1300px) {
  .allcontent .postdate,
  .allcontent .poststatus,
  .allcontent .posttag {
    font-size: 15px;
  }
  #texttitle {
    margin-top: 50px;
  }
  .postimage {
    width: 100%;
  }
  .allcontent #vcomments {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1300px) {
  .prev-post,
  .next-post {
    margin-top: 25px;
    border: solid;
    border-radius: 10px;
    box-shadow: 2ch;
    width: 100%;
    padding: 0;
  }
  .readercount {
    display: none;
  }
}
@media screen and (max-width: 1380px) {
  #live2d-widget {
    display: none;
  }
  .welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("") fixed no-repeat;
    background-size: cover;
  }
  .cursorcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
  .mobiledescribtion {
    font-size: 20px;
    color: white;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  /*初始状态 透明度为0*/
  40% {
    opacity: 0;
  }
  /*过渡状态 透明度为0*/
  100% {
    opacity: 1;
  }
  /*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {
  /*针对webkit内核*/
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1300px) {
  #friendscontainermobile {
    position: flex;
    min-height: 70vh;
    display: block;
    animation: fade-in;
    /*动画名称*/
    animation-duration: 1s;
    /*动画持续时间*/
    -webkit-animation: fade-in 1s;
    /*针对webkit内核*/
  }
  #friendscontainer {
    display: none;
  }
  .friend-box img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    float: left;
    overflow: hidden;
  }
  .friend-box {
    float: left;
    border-radius: 10px;
    cursor: pointer;
    background: black;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .flink-info {
    padding: 5px;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .friend-box .title {
    margin-top: 10px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
  }
}
@media screen and (min-width: 1300px) {
  #friendscontainermobile {
    display: none;
  }
  #friendscontainer {
    display: block;
  }
  #friendscontainer {
    width: 80%;
    min-height: 100vh;
    animation: fade-in;
    /*动画名称*/
    animation-duration: 1s;
    /*动画持续时间*/
    -webkit-animation: fade-in 1s;
    /*针对webkit内核*/
  }
  /* ---------------------------------用户信息展示表单 ------------------------------*/
  #friendscontainer .infoForm {
    float: left;
    width: 40%;
    height: 70px;
    margin-top: 20px;
    margin-left: 50px;
    flex-direction: column;
    box-shadow: inset 0 0 0 300px /*渲染阴影*/ #363636;
    opacity: 0.8;
    text-align: center;
    z-index: 100;
    border-radius: 18px;
    overflow: hidden;
    line-height: 5px;
    word-wrap: break-word;
    cursor: pointer;
  }
  #friendscontainer .favatar {
    width: 70px;
    height: 70px;
    overflow: hidden;
    float: left;
    display: inline;
    opacity: 1;
  }
  #friendscontainer .infoForm h2,
  #friendscontainer .infoForm h3 {
    color: white;
    font-weight: lighter;
    margin-top: 10px;
  }
  #friendscontainer .infoForm h2 {
    color: antiquewhite;
    font-size: 20px;
  }
  #friendscontainer .infoForm h3 {
    font-size: 15px;
    margin: 0;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
}
body {
  overflow-x: hidden;
  animation: fade-in;
  /*动画名称*/
  animation-duration: 1s;
  /*动画持续时间*/
  -webkit-animation: fade-in 1s;
  /*针对webkit内核*/
}
#talkContainer .talk::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}
#talkContainer .talk::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.01);
  -webkit-box-shadow: inset 0 0 6px transparent;
}
#talkContainer .talk::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
#talkContainer .talk::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
#talkContainer .talk::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
#talkContainer .talk::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
#talkContainer .talk::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.4);
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  /*初始状态 透明度为0*/
  40% {
    opacity: 0;
  }
  /*过渡状态 透明度为0*/
  100% {
    opacity: 1;
  }
  /*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {
  /*针对webkit内核*/
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#talkContainer .talk {
  width: 80%;
  min-height: 130px;
  height: auto;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  /*考虑浏览器兼容性*/
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid;
  border-radius: 10px;
  background: #FEFFF9;
  overflow: auto;
}
.ainfo {
  padding: 20px;
  height: auto;
}
.ainfo-intro {
  float: left;
}
.introcomment {
  display: inline;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.intro1 {
  display: inline;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.author {
  display: inline;
  font-size: 18px;
  color: #6A5ACD;
  margin-right: 10px;
  font-weight: bold;
}
.time {
  display: inline;
  font-size: 15px;
  color: gray;
  margin-right: 10px;
}
#talkContainer .talk .talkcontent {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
  word-wrap: break-word;
  width: 70%;
  text-align: left;
  font-size: 18px;
}
.talk .talkimg {
  position: absolute;
  height: 100%;
  right: 0;
}
#getmorebt {
  width: 80%;
  float: left;
  padding: 10px;
  background: aliceblue;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 50px;
}
#getmorebt:focus {
  outline: 0;
}
@media screen and (min-width: 1300px) {
  .talkShow {
    display: block;
    position: absolute;
    /*设置内容层绝对定位*/
    width: 100%;
    text-align: center;
    z-index: 2;
  }
  .tbar {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .side {
    display: none;
  }
  .tbar {
    display: block;
  }
  #talkContainer .talk {
    width: 110%;
  }
  #getmorebt {
    width: 110%;
  }
}
.top {
  margin-top: 70px;
}
@media screen and (max-width: 1300px) {
  #main {
    padding: 5%;
    width: 90%;
    margin: 0;
  }
  #talkContainer .talk .talkcontent {
    font-size: 15px;
  }
}
@media screen and (max-width: 425px) {
  #main {
    margin-left: 10px;
  }
  #talkContainer .talk .talkcontent {
    width: 55%;
  }
  .author {
    display: none;
  }
}
